#logging
LOG_LEVEL=INFO

#database
POSTGRES_DB=Mydb123
POSTGRES_HOST=Database
POSTGRES_PASSWORD=Password123
POSTGRES_USER=User123
DATABASE_URL = postgresql+asyncpg://User123:Password123@Database:5432/Mydb123

#OpenRouter
OPENROUTER_API_KEY=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

#llm model 
LLM_MODEL=qwen/qwen3-coder:free
LLM_TEMPERATURE=0.1
LLM_MAX_TOKENS=2525