#logging
LOG_LEVEL=INFO

#database
POSTGRES_DB=Mydb123
POSTGRES_HOST=Database
POSTGRES_PASSWORD=Password123
POSTGRES_USER=User123
DATABASE_URL=postgresql+asyncpg://User123:Password123@Database:5432/Mydb123

APP_DATABASE_URL=postgresql://User123:Password123@Database:5432/Mydb123

#OpenRouter
# OPENROUTER_API_KEY=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
# OPENROUTER_MODEL=meta-llama/llama-3.2-3b-instruct:free
# OPENROUTER_BASE_URL=https://openrouter.ai/api/v1

#ollama
LLM_PROVIDER=ollama
OLLAMA_MODEL=llama3.2:3b
OLLAMA_BASE_URL=http://host.docker.internal:11434/v1
OLLAMA_API_KEY=ollama

#Groq
# GROQ_API_KEY=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  
# GROQ_MODEL=llama3-8b-8192

#llm model 
# LLM_MODEL=qwen/qwen3-coder:free
LLM_TEMPERATURE=0.1
LLM_MAX_TOKENS=1000


    